html, body {
  height : 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #5d5d5e;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.main {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0 15px;
}

.forms {
  display: table-cell;
  vertical-align: middle;
}

.form_one{
  text-align: left;
  width: auto;
  padding: 0 15px;
}

.form_two{
  text-align: left;
  width: auto;
  padding: 0 15px;
}

.form_one{
  position: relative;
  margin: 0 auto;
  background: #fff;
  max-width: 550px;
  box-shadow: 3px 3px 24px #999;
  padding: 15px 15px 15px 15px;
}

h2 {
  text-align: left;
  font-weight: 200;
  font-size: 1.6em;
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #000000;
  color: #494949;
}

input[type="text"],
input[type="password"], 
input[type="email"] {
  width: calc(100% - 45px);
  max-width: 250px;
  border: 1px solid #bbb;
  padding: 0 0 0 45px;
  font-size: 14px;
  margin-bottom: 25px;
  height: 40px;
  outline: 0;
  -moz-outline-style: none;
}

button {
  width: 100%;
  max-width: 150px;
  background: #d1d0d0;
  border:none;
  border-bottom: 5px solid #656666;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 200;
  cursor: pointer;
  transition: box-shadow .4s ease;
  height: 40px;
  outline: 0;
  -moz-outline-style: none;
}